<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/Images/satyamev-jayte logo.jpg">
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            
            <img id="logo" src="../../Images/satyamev-jayte logo.jpg" alt="logo">
            <div class="logo">
                <h1 id="fontsize" class="logo-c">Co-WIN</h1>
                <p class="logo-c">Winning Over Covid-19</p>
            </div>
            <ul class="menu">
                <li><a href="../../index.html">HOME</a></li>
                <li><a href="../../Components/Appointment/appointment.html">APPOINTMENT</a></li>
                <li><a href="../About/about.html">ABOUT</a></li>
            </ul>
            <div class="location">
                <select name="state" id="state">
                    <option selected  >State</option>
                </select>

                <select name="cities" id="cities">
                    <option selected >District</option>
                </select>

                
            </div>
            
            <div id="google_translate_element"></div>

            <script type="text/javascript">
                function googleTranslateElementInit(){
                    new google.translate.TranslateElement(
                        {pageLanguage: 'en'}, 'google_translate_element'
                    );
                }
            </script>

            <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">

            </script>
            <div class="loginbtn">
                <a href="../Login/login.html">
                    <button id="login-btn"><strong>Register/Sign In</strong> </button>
                </a>
            </div>
        </nav>

        <div class="main">
            <h2 id="steph2">Get Vaccinated in 3 Easy Steps</h2>
            <div class="main-in">

                <div class="step">
                    <h4 id="steph4">Step 1</h4>
                    <div class="data">
                        <img class="about-img" src="../../Images/v-calender.jpg" alt="">
                        <p class="middle">Book an Appointment on Co-WIN or Walk into any Vaccination Center</p>
                        <p class="last">How to Book Your Appointment on Co-WIN?</p>
                    </div>
                </div>
                
                <div class="step">
                    <h4 id="steph4">Step 2</h4>
                    <div class="data">
                        <img class="about-img" src="../../Images/get-v.jpg" alt="">
                        <p class="middle">Get Your Vaccination Safely at the Time of Your Appointment</p>
                        <p class="last">Dos And Dont's For Getting Vaccinated</p>
                    </div>
                </div>

                <div class="step">
                    <h4 id="steph4">Step 3</h4>
                    <div class="data">
                        <img class="about-img" src="../../Images/certifiate-v.jpg" alt="">
                        <p class="middle">Download Your Vaccination Certificate from Co-WIN and Wait for Dose #2</p>
                        <p class="last">Download Your Vaccine <br>Certificate</p>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <p class="f-color">Copyright &copy; 2024 Co-WIN. All Rights Reserved &reg;</p>
            <img src="" alt="">
            <div class="tc-pp">
                <a class="tcpp f-color" href="#">Terms of Serivice | </a>
                <a class="tcpp f-color" href="#">Privacy Policy</a>
            </div>
        </footer>
    </div>
</body>
</html>